@font-face {
  font-family: 'Light';
  src: url('../../fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url('../../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src: url('../../fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Super-Bold';
  src: url('../../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}