@import '../utils/variables.scss';

.main-header {
  width: calc(100% - 80px);
  background-color: #ffffffe8;
  border-bottom: 1px solid $opacityLineColor;
  padding: 15px $appPadding;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  .logo {
    img {
      height: auto;
      max-width: 105px;
    }
  }

  ul {
    display: flex;
    gap: 15px;

    li {
      list-style-type: none;

      a {
        color: $textColor;
        user-select: none;
        text-transform: capitalize;
        font-family: 'Bold';

        &:hover {
          color: $appColor;
        }
      }
    }
  }

  .special-link {
    background-color: $appColor;
    padding: 6px 10px;
    border-radius: 4px;
    font-family: 'Bold';
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;

    &:hover {
      box-shadow: $blockShahow;
    }
  }
}